mat-form-field {
    width: 300px;
  
  
  }
  
  section{
    margin-top:2em;
  }
  

  .checkbox{
      width:300px;
      display:flex;
      align-items: flex-start;
      
  }


  .image-input{
    width:300px;
 
  }

  button{
      margin-top:2em;
  }